apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: production
spec:
  selector:
    app: redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379

---
apiVersion: v1
kind: Service
metadata:
  name: codemaster-service
  namespace: production
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
    cloud.google.com/backend-config: '{"ports": {"8080":"gke-backendconfig"}}'
spec:
  type: LoadBalancer
  selector:
    app: codemaster-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      name: http
  sessionAffinity: None